{% extends 'students/base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<h2 class="text-primary mb-4">About GITC</h2>
<p class="lead">Gerar Isaac Training Center (GITC) is a premier institution in Ethiopia offering top-quality education in:</p>
<ul class="list-group list-group-flush mb-4">
    <li class="list-group-item">Accounting & Accounting Software</li>
    <li class="list-group-item">Programming (Web, Python, etc.)</li>
    <li class="list-group-item">Electrical Engineering</li>
</ul>
<p>We believe in excellence, innovation, and hands-on learning guided by expert instructors.</p>
{% endblock %}
