{% extends 'students/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2 class="mb-4 text-success">Student Dashboard.html </h2>
<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">My Courses</h5>
        <p class="card-text">Browse enrolled courses & materials.</p>
        <a href="{% url 'courses:courses_dashboard' %}" class="btn btn-outline-primary">Go</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Exam Center</h5>
        <p class="card-text">Check exam schedules & results.</p>
        <a href="{% url 'exams:exams_dashboard' %}" class="btn btn-outline-success">Go</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Payment</h5>
        <p class="card-text">Manage your tuition payments.</p>
        <a href="{% url 'payments:payments_dashboard' %}" class="btn btn-outline-warning">Go</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
